<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Kube CSS -->
    <link rel="stylesheet" href="/assets/css/kube.css" />

    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/{{page}}.css" />
  </head>
  <body>
    <div id="navbar-demo" class="sticky" data-component-sticky-loaded="true">
      <div id="navbar-brand">
        <a href="/">
          jeffboard
        </a>
      </div>
      <nav id="navbar-main">
        <ul>
          <li><a href="/thread">New thread</a></li>
        </ul>
      </nav>
    </div>
    <div class="main-container">
      {{> mainContent main}}
    </div>
    <!-- Kube JS + jQuery are used for some functionality, but are not required for the basic setup -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="assets/js/kube.js"></script>
  </body>
</html>
